<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Ítems</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div style="text-align: right">
        <!-- Botón para cerrar sesión -->
        <form action="/logout" method="GET">
          <button type="submit" class="logout-btn">Cerrar Sesión</button>
        </form>
      </div>

      <h1>Lista de Ítems</h1>

      <!-- Formulario para añadir un nuevo ítem -->
      <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Nombre del Ítem" required />
        <input
          type="text"
          name="description"
          placeholder="Descripción"
          required
        />
        <button type="submit">Añadir Ítem</button>
      </form>

      <!-- Listado de ítems -->
      <ul>
        <% items.forEach(item => { %>
        <li>
          <span class="name"><%= item.name %></span>
          <span class="description"><%= item.description %></span>
          <div>
            <form
              action="/update/<%= item.id %>"
              method="POST"
              style="display: inline"
            >
              <input
                type="text"
                name="name"
                placeholder="Actualizar Nombre"
                required
              />
              <input
                type="text"
                name="description"
                placeholder="Actualizar Descripción"
                required
              />
              <button type="submit">Actualizar</button>
            </form>
            <a href="/delete/<%= item.id %>">Eliminar</a>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
