body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Formularios */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #5cb85c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4cae4c;
}

a.register-btn,
a.login-btn {
  color: white;
  background-color: #5cb85c;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

a.register-btn:hover,
a.login-btn:hover {
  background-color: #4cae4c;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

li .name {
  flex: 1;
  min-width: 200px;
}

li .description {
  flex: 2;
  min-width: 400px;
  text-align: justify;
}

li form {
  display: inline;
}

a {
  color: #d9534f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logout-btn {
  background-color: #d9534f;
  color: white;
}

.logout-btn:hover {
  background-color: #c9302c;
}
